{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min3.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- bg-primary and theme dark in other except min3.css -->
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bolder;">
                <i class="fa-solid fa-graduation-cap fa-lg"></i> Students Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" style="font-weight: bold;">
                            <i class="fa-solid fa-list fa-lg"></i> All Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add' %}" style="font-weight: bold;">
                            <i class="fa-solid fa-plus fa-lg"></i> Add Student</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>

    <footer class="mt-auto mb-2">
        <div class="text-center">
            <span>
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Sudeep Sudhevan
            </span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>

</html>